# Lab1: Python Basic
### Loop, Condition, Functions, Strings

**[실습 유의 사항]**

https://docs.google.com/spreadsheets/d/1kbVmIMrjAjkYyaFTIS2pZ42c2vQOX0uEAEeQYy6N2xk/edit?gid=0#gid=0

위의 링크에 실습 현황을 공유해 주세요. 수업 진행에 도움이 됩니다.

---

**기초문제**

파이썬에 익숙하신 분들은 문제1부터 풀어주시면 됩니다.

**기초문제1**

자연수를 입력받아 구구단 중 해당하는 단을 출력해보세요.

```
자연수 입력: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

```

In [1]:
def gugudan(x):
    return x*5
for n in range(1, 10):
    print(gugudan(n))

5
10
15
20
25
30
35
40
45

---

**기초문제2**

최댓값 구하기   
수를 세 개 입력받아, 셋 중 최댓값을 출력해보세요.

In [3]:
def get_max(x,y,z):
    return max([x,y,z])
get_max(10, 53, 5.2)

53

---

**기초문제3**

팩토리얼 구하기  
사용자에게 자연수 n을 입력받아 n!을 출력해보세요.

```
자연수 입력: 5
5! = 120
```

In [4]:
import math
math.factorial(5)

120

---

**기초문제4**

소인수분해하기

숫자를 하나 입력받아 인수를 리스트로 출력해보세요.

```
숫자를 입력하세요: 60
60의 인수는 [2, 2, 3, 5]입니다.
```

---

**기초문제5**

별 찍기

사용자에게 자연수 n을 입력받아, 높이가 n인 삼각형을 출력해보세요.

```
자연수 입력: 5

*
**
***
****
*****
```

---

**문제1**

다음 두 개의 동일한 리스트를 list1.sort()와 sorted(list2)를 활용하여 정렬해 보세요. 그리고 원본 리스트를 출력해 보세요.

```
list1 = [ 'Tesla', 'Nvidia', 'Meta', 'Amazon', 'Microsoft', 'Google', 'Apple']

list2 = [ 'Tesla', 'Nvidia', 'Meta', 'Amazon', 'Microsoft', 'Google', 'Apple']
```

In [1]:
list1 = [ 'Tesla', 'Nvidia', 'Meta', 'Amazon', 'Microsoft', 'Google', 'Apple']
list2 = [ 'Tesla', 'Nvidia', 'Meta', 'Amazon', 'Microsoft', 'Google', 'Apple']

In [2]:
print(list1, list1.sort())
print(list2, sorted(list2))

['Amazon', 'Apple', 'Google', 'Meta', 'Microsoft', 'Nvidia', 'Tesla'] None
['Tesla', 'Nvidia', 'Meta', 'Amazon', 'Microsoft', 'Google', 'Apple'] ['Amazon', 'Apple', 'Google', 'Meta', 'Microsoft', 'Nvidia', 'Tesla']

---

**문제2**

정수, 문자열, 리스트를 인자로 받고, 정수에는 1을 더하고 문자열의 마지막에 a를 덧붙이고, 리스트에는 'a'라는 원소를 추가하는 함수를 작성하세요. 함수 호출 이후 각 데이터가 어떻게 변했는지 확인해 보세요.

예시)
```
int_t = 1
str_t = 'abc'
list_t = [ 'a', 'b', 'c' ]

modify(int_t, str_t, list_t)

```

In [10]:
int_t = 1
str_t = 'abc'
list_t = [ 'a', 'b', 'c' ]

def modify(x,y,z):
    return x+1, y+'a', z + ['a']

modify(int_t, str_t, list_t)

(2, 'abca', ['a', 'b', 'c', 'a'])

---

**문제3**

임의의 개수의 정수 타입 인자를 받아 그들의 합을 구하는 함수를 작성하세요.


예시)
```
sum(1, 2, 3) = 6
sum(1, 2, 3, 4, 5) = 15
```

In [5]:
def mysum(*args):
    return sum(args)
print(mysum(1,2,3), mysum(1,2,3,4,5))

6 15

---

**문제4**

함수의 첫 번째 인자로 주어진 정수가, 나머지 인자들의 배수인지 판별하는 함수를 작성하세요.

예시)
```
det(15, 1, 3, 5) = True
det(15, 1, 2) = False
```

In [7]:
import numpy as np

def det(x, *args):
    return x == np.prod(args)


print(det(15,1,3,5), det(15,1,2))

True False

---

**문제5**

kwargs를 통해 입력받은 인자를 모두 출력하는 함수가 주어집니다. 함수에 인자를 넣으면서 동작을 확인해 보세요.

예시)
```
func(name='Alice', age=30, height=160, weight=50)
```

출력)
```
name: Alice
age: 30
height: 160
weight: 50
```

In [8]:
def func(**kwargs):
    for k, val in kwargs.items():
        print(f'{k}: {val}')
func(name='Alice', age=30, height=160, weight=50)

name: Alice
age: 30
height: 160
weight: 50

---

**문제6**

주어진 value 인자에 각각의 정수를 곱하여 출력하는 함수가 주어집니다. 함수에 n개의 정수와 n개의 key=value(정수형) 형태의 인자를 입력하여 동작을 확인해 보세요.

예시)
```
func(1, 2, 3, apple=250, google=189, tesla=402)
```

출력)
```
apple: 250
google: 378
tesla: 1206
```

In [9]:
def func(*args, **kwargs):
    for arg, (k, val) in zip(args, kwargs.items()):
        print(f'{k}: {val*arg}')
func(1, 2, 3, apple=250, google=189, tesla=402)

apple: 250
google: 378
tesla: 1206

---

**문제7**  
알파벳 문자열이 주어질 때, 연속하는 중복 문자를 삭제합니다.
문자열은 소문자로만 이루어져 있다고 가정합니다.
결과 값은 연속하는 중복 문자를 제거한 문자열입니다.

예시)

```
string = 'senteeeeeencccccceeee'
>>> 'sentence'
```

In [17]:
string = 'senteeeeeencccccceeee'
result = ''
for i, b in enumerate(string):
    if i == 0: result += b
    elif result[-1] != b : result += b


print(result)

sentence

---

**문제8**

문자열에서 연속적으로 반복되는 문자의 수를 사용하여 문자열의 압축된 버전을 생성하는 문제입니다. 예를 들어, 문자열 "aabcccccaaa"는 압축되어 "a2b1c5a3"가 됩니다.

In [50]:
string = 'aabcccccaaa'
result = ''
for i, b in enumerate(string):
    if i == 0 : 
        num = 1
        temp = b
        pass;
    elif i == len(string)-1:
        result += temp
        result += str(num+1)
    else:
        if temp == b:
            num += 1
        else:
            result += temp
            result += str(num)
            temp = b
            num = 1


print(result)

a2b1c5a3

---

**문제9**
   
그릇을 바닥에 놓았을 때 그 높이는 10cm 이다. 그런데 두 개의 그릇을 같은 방향으로 포개면 그 높이는 5cm만 증가된다. 만일 그릇이 서로 반대방향으로 쌓이면 높이는 그릇만큼, 즉 10cm 늘어난다.
   
그릇이 쌓인 모양에 대한 문자열이 주어질 때 그릇 높이를 계산하세요.

```
bowl = '(((('
>>> 25
```

```
bowl = '()()()))('
>>> 80
```

In [53]:
def get_height(bowl):
    for i,b in enumerate(bowl):
        if i == 0 : 
            temp = b
            h = 10
        else:
            if temp == b:
                h += 5
            else: 
                h += 10
            temp = b
    return h

get_height('(((('), get_height('()()()))(')

(25, 80)

---

**문제10**   
10진수를 2진수로 바꿔서 출력해주세요.
예시)
```
num = 11
>>> 1011
```
```
num = 3243
>>> 110010101011
```

In [97]:
def getbin(decimal):
    binary = ""
    while decimal > 0:
        binary = str(decimal % 2) + binary
        decimal //= 2
    return binary

getbin(11), getbin(3243)

('1011', '110010101011')

---

**문제11**    
모든 소수 찾기    
2 이상인 자연수 n이 주어질 때, n 이하의 모든 소수를 출력하는 all_primes(n)을 작성하세요.  


예시)
```
>> all_primes(10)
2, 3, 5, 7
```

```
>>> all_primes(50)
2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47
```

In [26]:
def all_primes(n):
    ans = []
    for i in range(2, n+1):
        p = 0
        for j in range(2, i):
            if i % j == 0 : p += 1
        if p == 0 : ans.append(i)
    return ans

print(all_primes(10))
print(all_primes(50))

[2, 3, 5, 7]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

---

**문제12**

‘racecar’, ‘토마토’, ‘stats’와 같이 앞뒤를 뒤집어도 똑같은 문자열을 회문palindrome이라고 한다. 문자열이 주어질 때, 그 문자열이 회문이면 Success를, 아니면 Fail를 출력하는 코드를 작성하여라.

```
Input : racecar
Output : Success

Input : tomato
Output : Fail
```

In [31]:
def kkr(word):
    if word[::-1] == word : print('Success')
    else: print('Fail')

kkr('racecar') ; kkr('tomato')

Success
Fail

---

**문제13**

콜라츠 추측은 다음과 같은 알고리즘을 따릅니다

주어진 숫자가 짝수라면 2로 나눕니다.
주어진 숫자가 홀수라면 3을 곱한 다음 1을 더합니다.
예를 들어, 숫자 7로 시작한다면 이 과정을 16번 반복하여 최종적으로 1에 도달합니다. 이는 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1의 순서로 진행됩니다. 반면에, 128로 시작한다면 이 과정을 단 7번 반복하여 1에 도달하게 됩니다.

콜라츠는 어떤 자연수로 시작하더라도 이 반복 작업이 결국에는 1에서 끝날 것으로 추측했지만, 이는 아직 수학적으로 증명되지 않았습니다.

이 문제에서는 자연수 n을 입력받아 위의 알고리즘을 몇 번 반복하면 1에 도달하는지를 계산하는 collatz() 함수를 정의하라고 요구하고 있습니다. 단, 이 과정이 100번 이상 반복될 경우 -1을 반환해야 합니다.

함수의 출력 예시는 다음과 같습니다:

collatz(128)의 결과는 (7)128->64->32->16->8->4->2->1  
collatz(171)의 경우 100번 이상 반복하므로 결과는 (-1)

In [47]:
def collatz(n):
    ans = []
    iter = 1
    while (iter < 100) & (n != 1):
        ans.append(int(n))
        if n%2 == 0:
            n = n/2
        else:
            n = 3*n + 1
        iter += 1
    ans.append(int(n))
    if len(ans) < 100: 
        return ans
    else: return -1

collatz(128), collatz(171)

([128, 64, 32, 16, 8, 4, 2, 1], -1)

---

**문제14**

List를 활용하여 fibonacci 수열을 반환하는 함수 fib를 구현하세요.  
(단, fib(1) = 0, fib(2) = 1)

예시)

```
>>> fib(10)
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
```

In [63]:
def fib(n):
    res = [0,1]
    while len(res) < n:
        res.append(res[-1] + res[-2])
    return res

fib(10), fib(20)

([0, 1, 1, 2, 3, 5, 8, 13, 21, 34],
 [0,
  1,
  1,
  2,
  3,
  5,
  8,
  13,
  21,
  34,
  55,
  89,
  144,
  233,
  377,
  610,
  987,
  1597,
  2584,
  4181])

---

**문제15**

H-Index는 과학자의 생산성과 영향력을 나타내는 지표입니다.

어떤 과학자가 발표한 논문 n편 중, h번 이상 인용된 논문이 h편 이상이고 나머지 논문이 h번 이하 인용되었다면 h의 최댓값이 이 과학자의 H-Index입니다.

어떤 과학자가 발표한 논문의 인용 횟수를 담은 배열 citations가 리스트로 주어질 때, 이 과학자의 H-Index를 return 하도록 solution 함수를 작성하세요.

예시)
```
citations: [3, 0, 6, 1, 5] --> H-index: 3
(1 이상인 인용수 1번 이상 등장)
(2 이상인 인용수 2번 이상 등장)
(3 이상인 인용수 3번 이상 등장)
(4 이상인 인용수 2번 등장)
따라서 H-index(최댓값): 3

citations: [5, 5, 5, 5] --> H-index: 4
citations: [0, 1, 2] --> H-index: 1

```

In [80]:
import numpy as np

def gethind(list):
    M = max(list)
    inyo = []
    for i in range(1, M+1):
        temp = sum([e >= i for e in list])
        if temp <= i: inyo.append(temp)
        else: inyo.append(i)
    # print(inyo)
    return int(np.argmax(np.array(inyo))+1)

gethind([3,0,6,1,5]), gethind([5,5,5,5]), gethind([0,1,2])

(3, 4, 1)

---

**문제16**

임의의 길이의 정수 리스트와 정수 N이 주어졌을 때, 가장 큰 N개의 정수를 출력하는 함수를 만들어 보세요.


예시)
```
nums = [2, 6, 41, 85, 0, 3, 7, 6, 10]
func(nums, 3)

출력: [85, 41, 10]
```

In [70]:
def func16(list, n):
    return sorted(list)[::-1][:n]

nums = [2, 6, 41, 85, 0, 3, 7, 6, 10]
func16(nums, 3)

[85, 41, 10]